<tr class="flex-row">
  <td><%= link_to result.fields["Resource Name"], result.fields["Link"]["url"], target: "_blank" %></td>
  <td><%= result.fields["Description"] %></td>
  <td> 
    <%= result.fields["Type of Resource"]&.join(", ") %>
  </td>
  <td><%= result.fields["File Type"] %></td>
  <td><%= formatted_use[result.fields["Reusable?"]] %></td>
  <td><%= result.fields["Approved to share?"] %>
</tr>
